#mypage_wrap header {
  background-color: #535962;
}
#mypage_wrap main .container {
    margin-top:10px;
}
#mypage_wrap main h3 {
  display: block;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
#mypage_wrap main .starlist {
  margin: 0 auto;
  width: 1000px;
  height: 1000px;
  color: black;
  background-color: #dddddd;
  padding: 20px;
}
/* #mypage_wrap main .starlist{
    background-color:gray;
    color:white;
    border:0;
    position:relative;
    top:-19px;
    height:298px;
    flex-grow:2;
} */
/* #mypage_wrap main .setting{
    position:absolute;
    top:500px;
    height:100px;
    width:300px;
} */
