/* 헤더 */
#de_header {background-color:black;}
#de_header .header_top {height: 60px;}
#de_header .header_top .container {display:flex; flex-wrap: wrap; justify-content:space-between ; align-items: center; height: 60px;}
#de_header .header_top ul {height: 40px; display: flex; align-items: flex-end; margin-right: 10px;}
#de_header h1 {color:white; font-size: 30px; margin-left: 30px;}

/* 메인 */
#de_main {display:flex; justify-content: center; flex-wrap: wrap; height: 550px; background-color:black;}
#back_glass_l {width: 100%; height: 530px; top:70px; left:0; z-index: 2;
    background: linear-gradient(to right,rgba(0,0,0,1)10%,rgba(0,0,0,0.2)60%,rgba(0,0,0,0.2)30%)}
#back_glass_r {width: 100%; height: 530px; top:70px; left:0; z-index: 2;
    background: linear-gradient(to left,rgba(0,0,0,1)10%,rgba(0,0,0,0.2)60%,rgba(0,0,0,0.2)30%)}
#back {margin-top:30px;}
#de_movie {position: absolute; top:70px; z-index: 3}
.detail {position: relative; width: 1000px; display:flex; justify-content: space-around; flex-wrap: wrap;}
.detail .poster {width: 300px; height: 460px; padding-bottom:0; box-shadow: -5px 5px rgba(200, 200, 200, 0.3);}
.detail .movie_data_wrap{width: 600px; height: 600px; display: inline-block; position: relative;}
.detail .movie_data {display:flex; flex-flow: column; justify-content: flex-start; align-items: flex-start; position: absolute; padding: 50px 50px 0 30px; width: auto;}
.detail .movie_data .movie_title {font-size: 50px; overflow: hidden; text-overflow: clip; white-space: normal; width: 600px; }
.detail .movie_data .de_movie_rating {margin:5px;}
.detail .movie_data .movie_year {margin:5px;}
.detail .movie_data .movie_summary {margin:5px;}

/* 푸터 */
.de_footer {margin-top:0px; background-color:black;}
.de_footer {height: 60px;}
.de_footer .container {padding:5px; display: flex; flex-flow: column; justify-content: space-around ; align-items: center;
    border-top: 1px solid #c4aff0;}
.de_footer .container div {font-size:13px;}
.de_footer .container span {font-size:13px; font-weight: bold;}