/* 컨테이너 */
.container {margin:0 auto; width: 1100px; height: inherit;}

/* 바디 */
html,body,#root,.cont {width: 100%; height: 100%; color: #fff;}
body {background-color:#535962;}

/* 로딩창 */
.loder {width: inherit; height: inherit; display: flex; justify-content: center; align-items: center; background-color: #faf4ff;}
.loder .loder_text {font-weight: bold;}

/* 헤더 */
header {position: relative;}
header .header_top {height: 40px;}
header .header_top .container {display: flex; justify-content: flex-end; border-bottom: 1px solid #c4aff0;}
header .header_top ul {display: flex; justify-content: space-between; align-items: center; font-size: 14px; margin-right: 20px;}
header .header_top li {margin-right: 10px; margin-left:10px; color:#fff;}
header .header_top li:hover {text-decoration: underline;}
header .header_center {display:flex; height: 130px;}
header .header_center .container {display:flex; justify-content: center; align-items: center; height: 130px;}
header .header_center h1 {color:#fff ; font-size: 40px;}

/* 네비게이션 - 검색 */
nav {height: 80px;}
nav #search {margin-bottom: 30px}
nav #search .container {height: 50px; display:flex; justify-content: center; align-items: center;}
nav #search .search_cont {position: relative;}
nav #search .search_cont input {width:1080px; height: 40px; padding: 1px 8px 1px 8px; border: 3px solid #c4aff0; background-color: rgba(30,30,30,0.4);
    color:#fff; font-size: 15px;}
nav #search .search_cont button {position: absolute; top: 0; right: 0; width: 48px; height: 100%; margin-left: -1px; border: 3px solid #c4aff0; 
    background: url(../img/search_icon.png) no-repeat #c4aff0; background-position: 7px 8px; background-size:25px 25px;}
nav #search .search_cont button:active {border-color:#A566FF;}
nav #search .search_cont .search_button {display: inline-block;}


/* 컨텐츠 - 추천 */
main .recommend {position: relative;}
main .recommend .container {background-color:#dddddd}
.glass {position: absolute; top: 120px; left:66px; width: 1131px; height: 370px; background-color:rgba(30,30,30,0.3) }
main .recommend .second_glass {position: absolute; top: 610px;}
main .recommend h3 {color:#41444b}
main .recommend .container .recommend_sort_title {margin-left: 15px;}
main .recommend .container .movies {margin:0 auto; width: 1030px; padding-top:30px;}
main .recommend .container .tvshows {margin:0 auto; width: 1030px; padding-top:60px; padding-bottom:50px;}

/* 컨텐츠 - 분류 */
main .category {height: 0;}
/* main .category .container {background-color: rgba(50,50,50,0.8);} */

/* 푸터 */
footer .footer {margin-top:20px; height: 60px;}
footer .footer .container {padding:5px; display: flex; flex-flow: column; justify-content: space-around ; align-items: center;
    border-top: 1px solid #c4aff0}
footer .footer .container div {font-size:13px;}
footer .footer .container .members {font-size:11px;}
footer .footer .container span {font-size:13px; font-weight: bold;}