/* 헤더 */
.join_header {position: relative; height: 100px; line-height: 100px;}
.join_header h1 {text-align:center; color:white; text-decoration: none;}
.join_header h1:hover h1:active h1:focus,h1:visited, h1:link {text-decoration: none;}
.join_header .join_header_top {height: 40px;}
.join_header .join_header_top .join_container {margin:0 auto; border-bottom: 1px solid #c4aff0; width: 1150px;}
.join_header .join_header_top ul {overflow: hidden; position: absolute; top: 13px; right: 80px; font-size: 14px;}
.join_header .join_header_top li {float: left; margin-right: 10px; margin-left:10px; color:#fff;}
.join_header .join_header_top li:hover {text-decoration: underline;}

/* 컨텐츠 - 입력 */
.join_main {width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.join_main .join_input h2 {margin:10px;}
.join_main .join_input input {float: left; margin:5px; padding: 2px 8px 1px 15px; width: 500px; height: 40px; 
    border-radius: 10px; border: 2px solid #c4aff0; font-size: 15px; background-color: rgba(30,30,30,0.4); color:white;}
.join_main .join_input .input_name {width:250px}
.join_main .join_input .male_radio {padding: 8px 8px 1px 15px; height: 40px; display:inline-block}
.join_main .join_input .male_radio input {width: 30px; height: 30px;}
.join_main .join_input .male_radio label {line-height: 40px;}
.join_main .join_input .female_radio {padding: 8px 8px 1px 15px; height: 40px; display:inline-block; margin-right:10px;}
.join_main .join_input .female_radio input {width: 30px; height: 30px;}
.join_main .join_input .female_radio label {line-height: 40px;}
.join_main .join_input .jender_input {padding:0; width: 40px;}
.join_main .join_input input[type="submit"] {float: left; width: 525px; height: 45px; margin-top: 8px; padding: 2px 8px 1px 15px; background-color: #c4aff0; 
    font-weight: 900; font-size:18px; margin-bottom: 20px;}
.join_main .join_input input[type="submit"]:active {background-color: #A566FF; border-color:#A566FF;}

/* 회원가입으로 이동 */
footer {text-align: center;}
#move_join ul {font-size: 16px; text-align: center;}
#move_join li {position: relative; display: inline; padding: 0 20px 0 20px; color:#fff;}
#move_join li:before {content:""; width: 1px; height: 16px; background-color:#fff; position: absolute; left: 0; top: 2px;}
#move_join li:first-child {margin-left: 40px;}
#move_join li:first-child:before {width: 0; height: 0;}