@charset "utf-8";

/* 여백 초기화*/
header,nav,footer,body,div,ul,li,dl,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,
p,select,table,th,td,tr,textarea,button,form{margin:0; padding:0;}

/* a링크 초기화 */
a{color: #222; text-decoration: none;}
a:hover {text-decoration: underline;}

/* 볼릿기호 초기화 */
dl,ul,li,ol,menu {list-style: none;}

/* border초기화 */
input, text, button, fieldset {border: none;}
input:focus, button:focus {outline:none;}

/* IR 효과 */
/* 의미있는 이미지의 대체 텍스트를 제공하는 경우 */
.ir_pm {display: block; overflow: hidden; font-size: 0; line-height: 0; text-indent: -9999px;} 
/* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때 */
.ir_wa {display: block; overflow: hidden; position: relative; z-index: -1; width: 100%; height: 100%;} 
/* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */
.ir_su {overflow: hidden; position: absolute; width: 0; height: 0; line-height: 0; text-indent: -9999px;}