.space_around {display: flex; justify-content: space-around;}
.movie {position: relative; margin-top:10px; margin-bottom:10px;}
.movie .poster {width:230px; height: 343px; margin-bottom: 20px; box-shadow: 10px 10px rgba(0, 0, 0, 0.5);}
.movie .movie_data {width: 230px;}
.movie .movie_data .movie_title {color:white; font-size: 13px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 80%;}
.movie .movie_data .movie_rating {overflow: hidden; position: absolute; bottom: 0px; right: 5px;}
.movie .movie_data .star_icon {width: 12px; float: left; margin-right: 4px; margin-top: 2.5px;}
.movie .movie_data .rating_text {float: left;}
