/* 컨테이너 */
.container {margin:0 auto; width: 1000px; height: inherit;}

/* 바디 */
body {background-color: #f5f5f5;}

/* 헤더 */
header {height: 100px; background-color: #fcf876; position: relative;}
header h1 {text-align: center; line-height: 100px;}
header .linker {overflow: hidden;}
header .linker ul {position: absolute; bottom: 5px; right: 150px;}
header .linker li {float: left;}
header .linker li a {display: block; padding-right: 10px;}

/* 네비게이션 - 검색 */
nav .search {height: 50px; background-color: #99b866;}

/* 네비게이션 - 메뉴 */
nav .menu {height: 50px; background-color: #d1eaa9;}

/* 컨텐츠 - 추천 */
#content .recommend {height: 700px; background-color: #96bb7c;}

/* 컨텐츠 - 분류 */
#content .category {height: 1000px; background-color: #d6efc7;}

/* 푸터 */
.footer{height: 50px; background-color: #f7fbe1;}
