.movie {position: relative ;float: left; margin: 5px 10px 10px 10px;}
.movie .poster {padding-bottom: 0; margin-bottom: 0;}
.movie .movie_data .movie_title {font-size: 13px;}
.movie .movie_data .movie_rating {overflow: hidden; position: absolute; bottom: 0px; right: 5px;}
.movie .movie_data .star_icon {width: 12px; float: left; margin-right: 4px; margin-top: 2.5px;}
.movie .movie_data .rating_text {float: left;}