@import "../../basic.scss";

.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c4aff0;
}
h1 {
  font-family: 'Modak', cursive;
  color: white;
  font-size: 35px;
  margin-left: 35px;
  font-weight: bolder;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-right: 20px;
  margin-top: 10px;
}
li {
  font-family: 'Black Han Sans', sans-serif;
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
}
li:hover {
  text-decoration: underline;
}
